:root {
    --primary-dark: #303f9f;
    --primary-light: #c5cae9;
    --primary: #3f51b5;
    --text-icons: #ffffff;
    --accent-color: #ff5722;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider: #bdbdbd;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--accent-color);
    color: var(--primary-text);
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 150px;
}

/* Dropdown button on hover & focus */
/* .dropbtn:hover,
.dropbtn:focus {
    background-color: var(--primary-light);
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn::first-letter {
    text-transform: capitalize;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-light);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: var(--primary-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    background-color: var(--accent-color);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}