@import url(./buttons.css);
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");


:root {
    overflow: auto;

    --primary-dark: #303f9f;
    --primary-light: #c5cae9;
    --primary: #3f51b5;
    --text-icons: #ffffff;
    --accent-color: #ff5722;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider: #bdbdbd;

    --shadow-default: text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body,
html {
    height: auto;
    width: -webkit-fill-available;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Spartan';
    font-size: 1em;
    font-weight: 600;
}

.content {
    width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 25px;
}

@media all and (max-width: 768px) {
    .content {
        width: 600px;
    }
}

.header {
    width: 100%;
    height: 50px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 1;
}
.navtab{
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: var(--shadow-default);
    background-color: var(--accent-color);
   /* Safari */
   -webkit-user-select: none;
   /* Firefox */
   -moz-user-select: none;
   /* IE10+/Edge */
   -ms-user-select: none;
   /* Standard */
   user-select: none;
}

.navtab:hover {
    background-color: var(--primary-light);
}

.to-do-let-button {
    border-radius: 5px;
    background-color: var(--accent-color);
    margin: 10px;
    padding: 5px 15px;
    color: var(--primary-text);
    font-weight: 600;
}

.view-box {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.date-card {
    background: var(--primary);
    height: fit-content;
    padding: 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    border-radius: 15px;
}

.to-do-container {
    height: fit-content;
    min-height: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.to-do-item {
    background: var(--text-icons);
    width: 90%;
    height: fit-content;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.duedateletbox {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
}
@media all and (max-width: 768px) {
    .duedateletbox {
        flex-direction: column;
    }
}

.to-do-item p {
    margin-right: auto;
    grid-area: 1/1/2/3;
    width: fit-content;
    padding: 5px 15px;
}

/* When clicked on, add a background color and strike out text */
.checked {
    background: var(--primary-light);
    color: var(--text-icons);
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.checked::before {
    content: '';
    position: absolute;
    border-color: var(--text-icons);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.to-do-input,
.date-time-input {
    width: 450px;
    margin: 5px;
}

@media all and (max-width: 768px) {
    .to-do-input,
    .date-time-input {
        width: 100%;
    }
}

#urgencystatus {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    background-color: var(--text-icons);
    padding: 5px 15px;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
}

.datelet {
    width: fit-content;
    padding: 5px;
    color: var(--primary-text);
    height: 25px;
    background-color: var(--divider);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    justify-self: center;
    font-size: .75em;
}

.duelet {
    width: fit-content;
    padding: 5px;
    color: var(--text-icons);
    height: 25px;
    background-color: var(--primary-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    justify-self: center;
    font-size: .75em;
}

.remove-button {
    position: absolute;
    top: -2px;
    right: 10px;
    cursor: pointer;
}

.urgentlet {
    border-top: 8px solid red;
}

.prioritylet {
    border-top: 8px solid yellow;
}

.lowlet {
    border-top: 8px solid green;
}

.savebutton,
.loadbutton {
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}