@import url(./buttons.css);

:root {
    overflow: auto;
}

body,
html {
    height: 100%;
    overflow: auto;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/scottish-highlands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    --scottish-background: repeating-linear-gradient(45deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(45deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(135deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(45deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(45deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px),
        repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px);
    --scottish-box-shadow: 5px 5px 5px #555;
    --scottish-background-color: #0a3c1c;
}

.content {
    background: red;
    width: 900px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    margin-top: 150px;
}

.content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    margin: -20px;
}

.header {
    /*background: orange;*/
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: var(--scottish-box-shadow);
    background: var(--scottish-background);
    background-color: var(--scottish-background-color);
    z-index: 2;
}

.view-box {
    /*background: yellow;*/
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /*background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(0px);*/
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.date-card {
    background: var(--scottish-background-color);
    height: fit-content;
    padding: 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    border-radius: 15px;
}

.to-do-container {
    /*background: indigo;*/
    height: fit-content;
    min-height: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.to-do-item {
    background: white;
    width: 90%;
    height: fit-content;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.to-do-item p {
    margin: auto;
    grid-area: 1/1/2/3;
    width: 100%;
    padding: 5px 15px;
}

/* When clicked on, add a background color and strike out text */
.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.to-do-input,
.date-time-input {
    width: 450px;
    margin: 5px;
}

#urgencystatus {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    background-color: aliceblue;
    padding: 5px 15px;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.datelet {
    width: fit-content;
    padding: 5px;
    color: white;
    height: 25px;
    background-color: #0a3c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    justify-self: center;
}

.duelet {
    width: fit-content;
    padding: 5px;
    color: white;
    height: 25px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    justify-self: center;
}

.remove-button {
    position: absolute;
    top: -2px;
    right: 10px;
    cursor: pointer;
}

.urgentlet {
    border-top: 5px solid red;
}

.prioritylet {
    border-top: 5px solid yellow;
}

.lowlet {
    border-top: 5px solid green;
}

.savebutton,
.loadbutton {
    background-color: var(--scottish-background-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}