

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/scottish-highlands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    --scottish-background: repeating-linear-gradient(45deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(45deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(135deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(45deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(45deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px),
        repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px);
    --scottish-box-shadow: 5px 5px 5px #555;
    --scottish-background-color: #0a3c1c;
}


/* CSS */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: var(--scottish-box-shadow);
  background-image: linear-gradient(45deg, lightgray 0%, gray  51%, black  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.content {
    background: red;
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    margin: -20px;
}

.header {
    /*background: orange;*/
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: var(--scottish-box-shadow) ;
    background:var(--scottish-background);
    background-color: var(--scottish-background-color);
}

.view-box {
    /*background: yellow;*/
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /*background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(0px);*/
}

.date-card {
    background: var(--scottish-background-color);
    height: fit-content;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    border-radius: 5px;
}

.date-display {
    background: lightblue;
    height: 15%;
    width: 90%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.to-do-container {
    background: indigo;
    height: fit-content;
    min-height: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.to-do-item {
    background: violet;
    width: 90%;
    height: fit-content;
    justify-content: center;
    margin: 10px;
}