body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/scottish-highlands.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    --scottish-background: repeating-linear-gradient(45deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 46px, rgba(255, 0, 0, .2) 46px, rgba(255, 0, 0, .2) 49px, rgba(255, 255, 255, .5) 49px, rgba(255, 255, 255, .5) 50px, transparent 50px, transparent 56px, rgba(255, 255, 255, .5) 56px, rgba(255, 255, 255, .5) 57px, rgba(255, 0, 0, 0.2) 57px, rgba(255, 0, 0, 0.2) 60px, transparent 60px, transparent 80px),
        repeating-linear-gradient(45deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(135deg, transparent, transparent 31px, rgba(0, 0, 0, .3) 31px, rgba(0, 0, 0, .3) 32px, transparent 32px, transparent 34px, rgba(0, 0, 0, .3) 34px, rgba(0, 0, 0, .3) 35px, transparent 35px, transparent 40px),
        repeating-linear-gradient(45deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(135deg, transparent, transparent 11px, rgba(255, 0, 0, .3) 11px, rgba(255, 0, 0, .3) 12px, transparent 12px, transparent 14px, rgba(255, 0, 0, .3) 14px, rgba(255, 0, 0, .3) 15px, transparent 15px, transparent 80px),
        repeating-linear-gradient(45deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px),
        repeating-linear-gradient(135deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) 6px, rgba(13, 29, 45, .4) 6px, rgba(13, 29, 45, .4) 20px, rgba(0, 0, 0, .3) 20px, rgba(0, 0, 0, .3) 26px, transparent 26px, transparent 40px);
    --scottish-box-shadow: 5px 5px 5px #555;
    --scottish-background-color: #0a3c1c;
}


/* CSS */
.button-87 {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: var(--scottish-box-shadow);
    background-image: linear-gradient(45deg, lightgray 0%, gray 51%, black 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.content {
    background: red;
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    margin-top: 150px;
}

.content::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(5px);
    margin: -20px;
}

.header {
    /*background: orange;*/
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: var(--scottish-box-shadow);
    background: var(--scottish-background);
    background-color: var(--scottish-background-color);
}

.view-box {
    /*background: yellow;*/
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /*background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(0px);*/
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-card {
    background: var(--scottish-background-color);
    height: fit-content;
    padding: 15px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    border-radius: 5px;
}

.date-display {
    /*background: lightblue;*/
    height: 2em;
    width: 90%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.to-do-container {
    /*background: indigo;*/
    height: fit-content;
    min-height: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.to-do-item {
    background: white;
    width: 90%;
    height: fit-content;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}

.to-do-item p {
    margin: auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: var(--scottish-background-color);
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 50px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}